.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
}
.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}
.benefits__item {
  width: 100%;
  @include mobile {
  }
  @include tablet {
    width: calc((100% - 30px) / 3);
    width: 354px;
  }
  @include desktop {
  }
}

.benefits__icon-block {
  margin-left: auto;
  margin-right: auto;
  // width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
.benefits__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 10px;
}
