.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
}

.team__title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  // margin-bottom: 50px;
  margin-bottom: 30px;
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}
.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @include mobile {
  }
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team__desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
}
