:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-title-color: #ffffff;
  --card-set-gap: 30px;
  --padding-portfolio: 24px;
  --padding-section: 94px;
  --social-link-fill: #afb1b8;
  --typical-duration: 250ms;
  --typical-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
